{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.8.5/echarts.min.js"></script>
<style>
table#details{
    width: 100%;    
    text-align: mid;
}
</style>
<h1>{{ args.title }}</h1>


<form action="/author_details" method="get" data-ajax="false" onSubmit="validateForm(this)">

Insert name: <input type="text" name="author" value="">


<input type="submit" value="Submit" ><br>

</form>

search result = {{args.author}}<br>
    <table id="details">
        <tr>
            <th>All publications</th>
            <th>Conference Papers</th>
            <th>Journal Articles</th>
            <th>Books</th>
            <th>Book Chapters</th>
        </tr>
        <tr>
            <td>{{ args.allpublications }}</td>
            <td>{{ args.conference_papers }}</td>
            <td>{{ args.journal_articles }}</td>
            <td>{{ args.books }}</td>
            <td>{{ args.book_chapters }}</td>
        </tr>
    </table>

    <table id="details">
        <tr>
            <th>All publications First</th>
            <th>Conference Papers First</th>
            <th>Journal Articles First</th>
            <th>Books First</th>
            <th>Book Chapters First</th>
        </tr><div id="main" style="height:600px;" class="col-md-12"></div>
        <tr>
            <td>{{ args.allpublications_first }}</td>
            <td>{{ args.conference_papers_first }}</td>
            <td>{{ args.journal_articles_first }}</td>
            <td>{{ args.books_first }}</td>
            <td>{{ args.book_chapters_first }}</td>
        </tr>
    </table>

    <table id="details">
        <tr>
            <th>All publications Last</th>
            <th>Conference Papers Last</th>
            <th>Journal Articles Last</th>
            <th>Books Last</th>
            <th>Book Chapters Last</th>
        </tr>
        <tr>
            <td>{{ args.allpublications_last }}</td>
            <td>{{ args.conference_papers_last }}</td>
            <td>{{ args.journal_articles_last }}</td>
            <td>{{ args.books_last }}</td>
            <td>{{ args.book_chapters_last }}</td>
        </tr>
    </table>

    <table id="details">
        <tr>
            <th>All publications Solo</th>
            <th>Conference Papers Solo</th>
            <th>Journal Articles Solo</th>
            <th>Books Solo</th>
            <th>Book Chapters Solo</th>
        </tr>
        <tr>
            <td>{{ args.allpublications_solo }}</td>
            <td>{{ args.conference_papers_solo }}</td>
            <td>{{ args.journal_articles_solo }}</td>
            <td>{{ args.books_solo }}</td>
            <td>{{ args.book_chapters_solo }}</td>
        </tr>
    </table>

Co-authors = {{ args.co_authors }}<br>

<div id="main" style="height:600px;" class="col-md-12"></div>

<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();
        $.get("{{ url_for('getCoauthor', authorname=args.author)}}", function (webkitDep) {
            myChart.hideLoading();
            option = {
            animationDuration: 3000,
            animationEasingUpdate: 'quinticInOut',
            series: [{
                type: 'graph',
                layout: 'force',
                label: {
                    normal: {
                        position: 'top',
                        show: true
                    }
                },
                draggable: true,
                data: webkitDep.nodes.map(function (node, idx) {
                    node.id = idx;
                    return node;
                }),
                categories: webkitDep.categories,
                force: {
                    edgeLength: 200,
                    repulsion: 300,
                    gravity: 0.2
                },
                edges: webkitDep.links,
                focusNodeAdjacency: true,
                roam: true,
                lineStyle: {
                    normal: {
                        color: 'source',
                        curveness: 0,
                        type: "solid"
                    }
                }
            }]
        };
            myChart.setOption(option);
        });
</script>



{% endblock %}
