<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  </head>

  <body>
    <div id="page">
      <div id="header">
        <h1>COMP62521: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
